/* RESET */
body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}

/* COMMON */
img{
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ms_btn{
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}
.btn-black{
    background-color: #363636;
    color: white;
}
.btn-orange{
    background-color: #cd3d10;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-size: 35px;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
}
header .ms_btn{
    width: 80px;
}
/* header-top */
.header-top{
    background-color: black;
    text-align: right;
}
.header-top img{
    width: 100px;
    padding: 10px;
}

/* header bottom */
.header-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    align-items: center;
    background-color: white;
}
.header-left{
    display: flex;
}
.logo{
    padding-right: 10px;
}
.header-bottom ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.header-bottom li{
    padding: 0 10px;
}
.header-list-left, .header-list-right{
    display: none;
}
.header-list-left img, 
.header-list-right img{
    width: 10px;
    display: inline-block;
}
.lens img{
    width: 22px;
}
.burger i{
    font-size: 20px;
}

/* MAIN */
/* jumbotron */
#ms_jumbotron{
    margin-top: 94px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 675px;
    display: flex;
    align-items: flex-end;
}
#ms_jumbotron .ms_btn{
    width: 115px;
}
#ms_jumbotron img{
    width: 240px;
    padding-bottom: 35px;
}
#ms_jumbotron .jumbo-content{
    padding-bottom: 50px;
}
#ms_jumbotron h2{
    padding-bottom: 20px;
}
#ms_jumbotron .text{
    font-size: 15px;
}
/* SMALL */
@media screen and (min-width: 576px){
    #ms_jumbotron img{
        width: 280px;
    }
}
/* TABLET */
@media screen and (min-width: 768px){
    #ms_jumbotron img{
        width: 350px;
    }
}
/* DESKTOP */
@media screen and (min-width: 992px){
    /* header bottom */
    .header-list-left{
        display: block;
    }
    .header-list-right{
        display: block;
    }
    .burger{
        display: none;
    }
    /* jumbotron */
    #ms_jumbotron .jumbo-content{
        width: 40%;
    }
    #ms_jumbotron img{
        width: 220px;
    }
}