/* RESET */
body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}

/* HEADER */
.header-top{
    background-color: black;
    text-align: right;
}
.header-top img{
    width: 100px;
    padding: 10px;
}