/* RESET */
body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}

/* COMMON */
img{
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ms_btn{
    line-height: 36px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}
.btn-black{
    background-color: #363636;
    color: white;
}
.btn-orange{
    background-color: #cd3d10;
    color: white;
}
.btn-blue{
    background-color: #2c64e6;
    color: white;
}
.btn-grey{
    background-color: #d9dadc;
    color: #2c64e6;
}
.btn-white{
    background-color: white;
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
}
h2{
    font-size: 35px;
}
.blue{
    color: #0070d0;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
}
header .ms_btn{
    width: 80px;
}
/* header-top */
.header-top{
    background-color: black;
    text-align: right;
}
.header-top img{
    width: 100px;
    padding: 10px;
}

/* header bottom */
.header-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    align-items: center;
    background-color: white;
}
.header-left{
    display: flex;
}
.logo{
    padding-right: 10px;
}
.header-bottom ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.header-bottom li{
    padding: 0 10px;
}
.header-list-left, .header-list-right{
    display: none;
}
.header-list-left img, 
.header-list-right img{
    width: 10px;
    display: inline-block;
}
.lens img{
    width: 22px;
}
.burger i{
    font-size: 20px;
}

/* MAIN */
/* jumbotron */
#ms_jumbotron{
    margin-top: 94px;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}
#ms_jumbotron .ms_btn{
    width: 115px;
}
#ms_jumbotron img{
    width: 240px;
    padding-bottom: 35px;
}
#ms_jumbotron .jumbo-content{
    padding-bottom: 50px;
    padding-top: 350px;
}
#ms_jumbotron h2{
    padding-bottom: 20px;
}
#ms_jumbotron .text{
    font-size: 15px;
}

/* games */
#games{
    margin-top: 40px;
}
#games img{
    border-radius: 20px;
}
#games .bordo img{
    border: 2px solid #0070d0;
    padding: 3px;
}

/* play 5 */
#playstation{
    margin-top: 100px;
}
.playstation-top{
    text-align: center;
}
.playstation-center{
    margin-top: 70px;
}
.playstation-bottom{
    margin-bottom: 40px;
    margin-top: 60px;
}
.playstation-center .ms_btn{
    width: 180px;
    font-size: 15px;
}
#playstation .subtitle{
    color: rgba(0, 0, 0, 0.5);
}
#playstation h2{
    margin-bottom: 25px;
    font-size: 34px;
}
.playstation-bottom .bordo{
    border-bottom: 2px solid #0070d0;
    filter: opacity(100%);
}
.playstation-bottom .descrizione{
    display: none;
}
#playstation .ms_card{
    text-align: center;
    filter: opacity(50%);
    height: 100%;
}

/* takes two */
#takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}
.banner-content{
    padding: 50px 0;
}
.banner-content img{
    width: 310px;
    padding-bottom: 20px;
}
#takes-two .ms_btn{
    width: 115px;
}

/* new exits */
#new-exits{
    background-color: #1f1f1f;
    color: white;
    padding-top: 30px;
    padding-bottom: 70px;
}
#new-exits img{
    border-radius: 20px;
    padding-bottom: 10px;
}
#new-exits .subtitle{
    font-size: 20px;
}

/* esplora */
#esplora{
    padding: 70px 0;
}
.esplora-top{
    padding-bottom: 40px;
}
#esplora .text_center{
    text-align: center;
}
#esplora .subtitle{
    color: rgba(0, 0, 0, 0.5);
}
#esplora .ms_btn{
    width: 115px;
    font-size: 15px;
}

/* ps-plus */
#ps-plus{
    background-color: #bebcbb;
    padding: 50px 0;
}
#ps-plus .logo{
    width: 300px;
}
#ps-plus .text{
    padding-top: 40px;
    padding-bottom: 25px;
}
#ps-plus .ms_btn{
    width: 195px;
    font-size: 15px;
}

/* ps-now */
#ps-now{
    background-color: #151c3b;
    color: white;
    padding: 50px 0;
}
#ps-now .logo{
    width: 300px;
}
#ps-now .text{
    padding-top: 40px;
    padding-bottom: 25px;
}
#ps-now .ms_btn{
    width: 190px;
    font-size: 15px;
}

/* discount */
#discount{
    padding: 70px 0;
}
.discount-text{
    text-align: center;
    margin-bottom: 50px;
}
.discount-text .subtitle{
    color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
}

/* social */
#social{
    padding: 50px 0;
}
#social h3{
    text-align: center;
    margin-bottom: 50px;
}

/* SMALL */
@media screen and (min-width: 576px){
    #ms_jumbotron img{
        width: 280px;
    }
}

/* TABLET */
@media screen and (min-width: 768px){
    #ms_jumbotron img{
        width: 350px;
    }
    
    /* play 5 */
    .playstation-bottom .descrizione{
        display: block;
    } 
    #playstation .ms_card img{
        width: 50%;
        padding-bottom: 15px;
    }

    /* takes two */
    .banner-content img{
        width: 390px;
    }

    /* ps-plus */
    #ps-plus{
        padding: 0;
    }
    #ps-plus .text{
        padding-top: 35px;
        padding-bottom: 15px;
        font-size: 15px;
    }
    #ps-plus .ms_btn{
        margin-bottom: 15px;
    }
    #ps-plus .logo{
        width: 200px;
        margin-top: 15px;
    }

    /* ps-now */
    #ps-now{
        padding: 0;
    }
    #ps-now .text{
        padding-top: 35px;
        padding-bottom: 15px;
        font-size: 15px;
    }
    #ps-now .ms_btn{
        margin-bottom: 15px;
    }
     #ps-now .logo{
        width: 200px;
    }

    /* social */
    .ms_row{
        width: 80%;
        margin: 0 auto;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px){
    /* header bottom */
    .header-list-left{
        display: block;
    }
    .header-list-right{
        display: block;
    }
    .burger{
        display: none;
    }

    /* jumbotron */
    #ms_jumbotron .jumbo-content{
        width: 40%;
    }
    #ms_jumbotron img{
        width: 220px;
    }

    /* takes two */
    .banner-content{
        width: 35%;
    }
    .banner-content img{
        width: 250px;
    }

    /* ps-plus */
    #ps-plus .logo{
        width: 300px;
    }

    /* ps-now */
    #ps-now .logo{
        width: 300px;
    }

    /* social */
    .ms_row{
        width: 50%;
        margin: 0 auto;
    }
}